<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flyingh.intent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.flyingh.intent.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.flyingh.intent.OtherActivity"
            android:label="@string/title_activity_other"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="com.flyingh.action.App" />
                <action android:name="com.flyingh.action.AppA" />
                <action android:name="com.flyingh.action.AppB" />

                <category android:name="com.flyingh.category.DEFAULT" />
                <category android:name="com.flyingh.category.TEST" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.flyingh.com"
                    android:scheme="https" android:path="/abc.jsp"/>
            </intent-filter>
        </activity>
    </application>

</manifest>